body{
    font-family: 'Orbitron', sans-serif;
    background-color: #121212;
    color: #322871;
    margin: 0;
    padding: 0;
}

header {
    background: #3a0947;
    padding: 2rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #47c619;
}

p {
    color: #ccc;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    background-color: #222;
    padding: 1rem;
    border-radius: 12px;
}

footer {
    background: #1f1f1f;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}